<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <springProperty scope="context" name="appName" source="spring.application.name"/>
    <springProperty scope="context" name="regionName" source="veda-auth.region"/>
    <springProperty name="name" source="spring.application.name" />

    <!-- Rolling File Appender -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/veda-auth-central.log</file>
        <encoder>
            <pattern>%date{YYYY-MM-dd HH:mm:ss.SSS} region=${regionName}, app=${appName}, host=${HOSTNAME}, traceID=%X{traceId:-NONE}, level=%-5level, [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/%d{yyyy-MM}/veda-auth-central-log-%d{MM-dd-yyyy}-%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <!-- number of days to keep the log files -->
            <maxHistory>30</maxHistory>
            <!-- If the total size of all log files exceeds this value, the oldest files will be removed -->
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://localhost:3100/loki/api/v1/push</url>
        </http>
        <format>
            <label>
                <pattern>app=${name},host=${HOSTNAME}, traceID=%X{traceId:-NONE}, level=%level</pattern>
                <readMarkers>true</readMarkers>
            </label>
            <message>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </message>
            <sortByTime>true</sortByTime>
        </format>
    </appender>

    <!-- Asynchronous Rolling File Appender -->
    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <includeCallerData>true</includeCallerData>
    </appender>

    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.springframework" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="LOKI" />
        <appender-ref ref="ASYNC_FILE"/>
    </root>
</configuration>
